<%= render 'shared/page_title', title: "#{@topic.name}" %>
<% if @topic.articles.count != 0 %>
  <h4 align="center">artigos <%= @topic.name %></h4>
  <%= render 'articles/article', obj: @topic_articles %>
<% else %>
  <h4 align="center">artigo não criado!</h4>
<% end %>