<%= render 'shared/page_title', title: "Perfil de #{@user.username}" %>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user, size: 150 %>
  </div>
</div>
<% if @user.articles.count != 0 %>
  <h4 align="center" style="padding:30px;">Artigos pela Lenda <%= @user.username %></h4>
  <%= render 'articles/article', obj: @user_articles %>
<% else %>
  <h4 align="center">Esta lenda não possui artigos aida</h4>
<% end %>